html {
  background: rgb(205, 204, 220);
  background: linear-gradient(
    90deg,
    rgb(0, 0, 0) 26%,
    rgb(48, 38, 4) 100%,
    rgb(225, 218, 230) 100%
  );
}
body {
  background: rgb(174, 174, 217);
  background: linear-gradient(
    90deg,
    rgb(0, 0, 0) 26%,
    rgb(32, 71, 78) 100%,
    rgb(197, 197, 230) 100%
  );
}
